.Successpageview {
    width: 650px;
    margin: 10px auto;
    padding-top: 10px;
    padding-right: 50px;
    background-color: rgb(29,40,49);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px, 150px;
    gap: 200px;
    justify-content: center;
  }
  .productlink{
    text-decoration: none;
    color: white;
  }
  @media only screen and (max-width: 568px) {
    .Successpageview {
      width: 374px;
      margin: 5px auto;
      padding-left: 60px;
      background-color: rgb(29,40,49);
      border-radius: 12px;
      display: grid;
      grid-template-columns: 150px 150px;
      grid-template-rows: 150px, 150px;
      gap: 60px;
      justify-content: center;
    }
    .homeimage {
      width: 140px;
      height: 120px;
      padding-right: 30px;
    }
  } 