.pagesview {
background-color: rgb(202, 225, 237);
display: flex;
height: 375px;
border-radius: 20px;
}
.productinfo {
background-color: rgb(111, 173, 240);
border-radius: 20px;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
height: 300px;
}
.productdetail{
    display: flex;
    align-self: center;
    flex-direction: column;
    border-radius: 20px;
}
.pagebutton{
    display: flex;
    height: 30px;   
}
.productpagesimage{  
    width: 375px;
    height: 375px;
    float: left;
}
.buttondelet {
    border-radius: 20px;
    background-color: rgb(237, 174, 174);
}
.buttondelet:hover {
    background-color: rgb(226, 109, 109);
}
.buttoncount{
    border-radius: 15px;
    background-color: rgb(181, 203, 225);
    text-decoration: none;
}
.buttoncount:hover{
    background-color:white;
}
.buttonadd{
    border-radius: 20px;
    background-color: rgb(202, 240, 148);
}
.buttonadd:hover{
    border-radius: 20px;
    background-color: rgb(229, 239, 216);
}

@media only screen and (max-width: 568px) {
    .pagesview {
        background-color: blanchedalmond;
        display: flex;
        height: 205px;
       
        }
    .productinfo {
        background-color: rgb(111, 173, 240);

        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 205px;
        }

    .productpagesimage{  
        width: 205px;
        height: 205px;
        float: left;

    }
    .productcardimage{
        width: 100px;
        height: 100px;
    }
  }